[submodule "src/pymap_elites"]
	path = src/pymap_elites
	url = https://github.com/resibots/pymap_elites.git
[submodule "src/pyhexapod"]
	path = src/pyhexapod
	url = https://github.com/resibots/pyhexapod
[submodule "src/pycontrollers"]
	path = src/pycontrollers
	url = https://github.com/resibots/pycontrollers
